<style>
  .marquee{
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 6rem;
    padding: 2rem 0;
  }
  .marquee:hover .marquee__group{
    animation-play-state: paused;
  }
  .marquee__group{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    min-width: 100%;
    animation: scroll 15s linear infinite;
  }
  .marquee__group span{
    font-size: 3vw;
    font-weight: bold;
    white-space: nowrap;
  }

  @keyframes scroll {
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(calc(-100% - 6rem));
    }
  }
  .button-marquee{
    appearance: none;
    --button-border-color: #50248f;
    --button-hover-filter: contrast(90%) brightness(1.1);
    margin: 1px;
    display: inline-block;
    min-width: 148px;
    padding: 5px 39px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: auto;
    border-radius: 30px;
    border: 0;
    text-transform: none;
    letter-spacing: inherit;
    white-space: normal;
    box-shadow: 0 0 0 1px var(--button-border-color);
    background-color: #50248f;
    color: #ffffff;
    transition: all 100ms ease-in-out;
    font-size: 2.5vw;
  }
</style>

<div class="marquee">
  <div class="marquee__group">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'text' %}
          <span>{{ block.settings.text }}</span>
        {% when 'button' %}
          <a class="button-marquee" {% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} >
            {{ block.settings.button_label | escape }}
          </a> 
      {% endcase %}
    {% endfor %}
    
    {% if section.blocks.size < 4 %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'text' %}
            <span>{{ block.settings.text }}</span>
          {% when 'button' %}
            <a class="button-marquee" {% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} >
              {{ block.settings.button_label | escape }}
            </a> 
        {% endcase %}
      {% endfor %}
    {% endif %}  
  </div>
  
  <div class="marquee__group" aria-hidden="true">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'text' %}
          <span>{{ block.settings.text }}</span>
        {% when 'button' %}
          <a class="button-marquee" {% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} >
            {{ block.settings.button_label | escape }}
          </a> 
      {% endcase %}
    {% endfor %}
    
    {% if section.blocks.size < 4 %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'text' %}
            <span>{{ block.settings.text }}</span>
          {% when 'button' %}
            <a class="button-marquee" {% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} >
              {{ block.settings.button_label | escape }}
            </a> 
        {% endcase %}
      {% endfor %}
    {% endif %}  
  </div>
</div>

{% schema %}
{
  "name": "marquee",
  "settings": [],
  "presets": [
    {
      "name": "Marquee"
    }
  ],
  "blocks": [
    {
      "name": "text",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "name": "button",
      "type": "button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button",
          "default": "Button",
          "info": "Show button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "link"
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}