{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}
{%- style -%}
  
{%- endstyle -%}

  <div>
    <h1>page handle: {{ request.path | split: '/' | last }}</h1>
    {% assign article_to_display =  request.path | split: '/' | last %}
    {% for article in blog.articles %}
      {% assign current_article = article.handle | split: '/' | last %}
      {% if current_article == article_to_display %}
        <h1>{{ article.title }}</h1>
        <img src="{{ article.image.src }}" height="{{ article.image.height }}" width="{{ article.image.width }}" alt="{{ article.image.alt }}"/>
        <div id="post-content">
          {{article.content}}
        </div>
      {% endif %}
   {% endfor %}
    <div class="ml-embedded" data-form="wicNzF"></div> 
  </div>
<!-- MailerLite Universal -->

<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '378759');
</script>

<!-- End MailerLite Universal -->
<script>
  const parentElement = document.querySelector('#post-content')
  const childCount = parentElement.children.length
  if(childCount >= 4){

    const insertIndex = Math.floor(childCount / 2)
    const newElement = document.createElement('div')
    newElement.className = "ml-embedded";
    newElement.setAttribute("data-form", "wicNzF");
    
    parentElement.insertBefore(newElement, parentElement.children[insertIndex]);
    }
    
</script>

{% schema %}
{
  "name": "post blog",
  "settings": [],
  "presets": [
    {
      "name": "postblog"
    }
  ]
}
{% endschema %}
