{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .wrapper{
    max-width: 900px;
    margin: auto;
  }
  .post_image{
    max-width: 100%;
    object-fit: contain;
  }
{%- endstyle -%}

  <div class="article-template__content page-width page-width--narrow rte">
    {% assign article_to_display =  request.path | split: '/' | last %}
    {% for article in blog.articles %}
      {% assign current_article = article.handle | split: '/' | last %}
      {% if current_article == article_to_display %}
        <img src="{{ article| image_url }}" height="500px" width="100%" alt="{{ article.image.alt }}" class="post_image" style="aspect-ratio: {{ article.image.aspect_ratio }}"/>
        <h1>{{ article.title }}</h1>
        <time>{{ article.published_at | date: '%B %d, %Y' }}</time>
        <div id="table-of-contents">
        <h2>Table of Contents</h2>
        <ul id="toc-list"></ul>
      </div>
        <div id="post-content">
          {{article.content}}
        </div>
      {% endif %}
   {% endfor %}
<!--     <div class="ml-embedded" data-form="wicNzF"></div>  -->
    <div class="klaviyo-form-S6kpfw"></div>
  </div>
      <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Author",
      "name": {{ article.title | json }},
      "url": {{ request.origin | json }},
      "description": {{ article.excerpt | json }},
     
    }
  </script>


<!-- End MailerLite Universal -->
 <script>
    document.addEventListener('DOMContentLoaded', function () {
      const headings = document.querySelectorAll('#post-content h1, #post-content h2, #post-content h3, #post-content h4');
      const tocList = document.getElementById('toc-list');

      headings.forEach(function (heading) {
        const level = heading.tagName.slice(1);
        const title = heading.textContent;
        const listItem = document.createElement('li');
        const link = document.createElement('a');

        heading.id = title.toLowerCase().replace(/\s+/g, '-');

        link.href = `#${heading.id}`;
        link.textContent = title;

        listItem.appendChild(link);
        tocList.appendChild(listItem);
      });
    });
  </script>
<script>
  const parentElement = document.querySelector('#post-content')
  const childCount = parentElement.children.length
  if(childCount >= 4){

    const insertIndex = Math.floor(childCount / 2)
    const newElement = document.createElement('div')
    newElement.className = "klaviyo-form-S6kpfw";
    // newElement.setAttribute("data-form", "wicNzF");
    
    parentElement.insertBefore(newElement, parentElement.children[insertIndex]);
    }
    
</script>

{% schema %}
{
  "name": "post blog",
  "settings": [],
  "presets": [
    {
      "name": "postblog"
    }
  ]
}
{% endschema %}
